@model IEnumerable<ListOfProductsHandler.Models.Product>

@{
    ViewData["Title"] = "Список продуктов";
}

<a class="nav-link text-dark" style="text-align: right" asp-area="" asp-controller="Home" asp-action="LogOut">Выйти</a>

<h1>Список продуктов</h1>

<p>
    <a asp-action="Create">Добавить новый продукт</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink(
                    @Html.DisplayNameFor(model => model.Name), "Index", new { sortOrder = ViewBag.NameSort })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)    
            </th>
            <th>
                @Html.ActionLink(
                    @Html.DisplayNameFor(model => model.Price), "Index", new { sortOrder = ViewBag.PriceSort})
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="white-space: nowrap;max-width: 300px ;text-overflow: ellipsis;overflow: hidden;">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
